

/* Our default values set as CSS variables */
:root {
  --color-bg: #A38CD7; /*#69F7BE;*/
  --color-text-main: white; /*#000000;*/
  --color-primary: lavender; /*#FFFF00*/
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
  --center-width: width/2;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}


/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 1.1rem;
  height: 4rem;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px #666666;
  padding: 0.5rem 1rem;
  transition: 300ms;
}

/* .btnMain {
  font-size: 1.1rem;
} */

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
/*   padding: 0.75rem 1rem; */
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  display: flex;
/*   justify-content: space-between; */
/*   margin: 1rem auto 0; */
/*   padding: 1rem 0 0.75rem 0; */
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
/*   padding: 0.5rem 1rem 1.5rem; */
  white-space: nowrap;
}

.divider {
/*   padding: 0 1rem; */
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  display: grid;
  grid-template-areas:
    "header"
/*     "btn-menu" */
    "nav"
    "content-left"
    "content-right"
    "side"
    "footer";
/*   grid-auto-flow: row; */
  min-height: var(--wrapper-height);
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;
/*   place-items: center; */
/*   margin: 0 0.5rem; */
/*   justify-content: center; */
}

.wrapper > * {
  grid-column: col-start / span 12;
/*   justify-content: space-around; */
}

.content-left, .content-right {
    display: flex;
/*     grid-template-columns: auto auto; */
/*     padding: 2rem; */
    flex-direction: column;
    place-items: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    align-content: left;
    justify-content: left;
}

.header {
  display: flex;
  grid-area: header;
  justify-content: center;
  place-items: center;
}

/* parentheses */
nav, .side {
  display: flex;
  grid-area: nav;
/*   justify-content: center; */
  align-items: center;
  font-family: var(--font-family-header);
  font-size: 20rem;
  line-height: 1%;
  text-align: center;
  color: white;
}

/* Subheading */
h2, h3, h4 {
  color: var(--color-primary);
}

/* Very light scaling for our illustration */
.title {
  color: var(--color-text-main);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  line-height: 105%;
}


/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
/*   margin: 1rem auto 0; */
}

/* Interactive image */
.illustration:active {
  transform: translateY(3px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.btn:active {
  transform: translateY(3px);
}


@media (min-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-areas:
      "header"
      "nav side"
      "nav content-left content-right side"
      "footer";
    min-height: var(--wrapper-height);
    place-items: flex-start;
    margin: 0 0.5rem;
/*     align-items: center; */
/*     justify-content: center; */
  }
  
  header {
    grid-column: col-start 1 / span 12;
    grid-row: 1;
  }
  
  .nav {
    grid-column: col-start 1 / span 1;
    grid-row: 2;
  }
  
  .content-left {
    grid-column: col-start 2 / span 5;
    grid-row: 2;
  }
  
  .content-right {
    grid-column: col-start 7 / span 5;
    grid-row: 2;
  }
  
  .side {
    grid-column: col-start 11 / span 1;
    grid-row: 2;
  }
  
  footer {
    grid-column: col-start / span 12;
    grid-row: 4;
  } 

}