<!DOCTYPE html>
<html lang="en">
  <head>
    <title>inner.voice.over</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="a self-compassion database">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  
  <body>
    <div class="wrapper">
      <header class="header grid-item">
        <h1 class="title grid-item">inner.voice.over</h1>
      </header>
      
<!--       <div class="btn-menu"> -->
<!--             <button id="addButton" class="btn addBtn" disabled="true" hidden="true"> -->
<!--              💘🔺💜❤️ add to self-compassion database -->
<!--             </button> -->
<!--         📛✅💟❤️ -->
<!--             <button id="delButton" class="btn delBtn" disabled="true" hidden="true"> -->
<!--              ❌ delete -->
<!--             </button> -->
<!--       </div> -->
        
      <nav class="nav grid-item">
<!--         <div class="block"> -->
          <button id="listenButton" class="btn btn--remix btnMain">🎧 listen</button><br/>
          <h3 id="loading" value="loading database, please wait">loading database, please wait (requires Chrome for now)</h3>
<!--         </div> -->
<!--         <div class="block"> -->
          <h1 class="nav parens"> ( </h1>
<!--         </div> -->
      </nav>
                          
      <div class="content-left grid-item"> <!--  role="main"-->
          <div class="listenClips" style="float: left">
            <h2 id="contributeClip" value="you have something to contribute">you have something to contribute</h2>
            <h2 id="firstClip" value="be kind to your mind">be kind to your mind</h2>
            <!--put a listen file here automatically-->
          </div>
          </div>
            <!--adds listen files, starts recording-->
        <div class="content-right">
          <div class="recordClips"  style="float: right">
            <h2 id="yourClip" class="spokenClips" value="empty"></h2>
          </div>
        </div> 
    
      <nav class="side grid-item">
<!--         <div class="block"> -->
          <button id="recordButton" class="btn">contribute 📣</button>
          <button id="stopButton" class="btn" disabled="true" hidden="true">🔴 stop</button>
            <br/>
<!--         </div> -->

<!--         <div class="block"> -->
          <h1 class="nav parens">)</h1>
<!--         </div> -->
      </nav>

      <footer class="footer grid-item">
        <h3 class="about">
          inner.voice.over is a text-driven machine learning project by <a href="https://sarahciston.com">sarah ciston</a>. thank you for contributing your compassion to this experiment! 
        </h3>
        <div class="links">
<!--           <ul>
            <li>
              
            </li>
          </ul> -->
        </div>
      </footer>
      
    </div> <!--end of wrapper-->

    <!--   remote scripts   -->

<!--     <script src="//cdn.jsdelivr.net/npm/pouchdb@7.3.0/dist/pouchdb.min.js"></script> -->
<!--     <script src="/js/pouchdb.find.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/IDMNYU/p5.js-speech@0.0.3/lib/p5.speech.js"></script>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"
    ></script>
    
<!--   local scripts   -->
    
    <script src="/static/js/database.js" defer></script>
    <script src="/static/js/load.js" defer></script>
    <script src="/static/js/texttospeech.js" defer></script>
    <script src="/static/js/speechtotext.js" defer></script>
  </body>
</html>